<section id="bg-dashboard" class="container-fluid">
	<div class="bloc-minutes text-center">
		<span class="minutes">40</span><br>
		MINUTES RESTANTES<br>

		<a href="#" class="btn-speak-izy">pratiquer l'anglais</a>
	</div>		
</section>

<section id="dashboard" class="container-fluid">
	<h1>TUTEURS</h1>
	<h2>EN LIGNE</h2>
	<div class="row bloc-tuteurs">
		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row bloc-tuteurs">
		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo en-ligne">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>occupés</h2>

	<div class="row bloc-tuteurs">
		<div class="col-xs-3">
			<div class="cadre-photo occupe">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo occupe">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo occupe">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>hors ligne</h2>

	<div class="row bloc-tuteurs">
		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row bloc-tuteurs">
		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="cadre-photo hl">
				<img src="images/kevin.jpg" class="full-width">

				<div class="infos-picture">
					<div class="display-table">
						<div class="vertical-align">
							Jessica R.<br>
							<i>Teacher</i>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</section>