<section id="bg-header-home" class="container-fluid">
	<div class="display-table">
		<div class="vertical-align">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">
					<h1>			
		           		pratiquez<br> 
		           		votre anglais<br>
		           		<span class="blue">quand</span> vous voulez
					</h1>	
				</div>
			</div>

			<div class="text-center">
				<a href="#/pratique" class="btn-speak-izy center-block" title="essayer gratuitement">essayer gratuitement</a>
			</div>								
		</div>
	</div>			
</section>

<section id="menu-approche" class="container-fluid">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 padding-none">
			<div class="item-approche bg-1-approche">
				<div class="display-table">
					<div class="vertical-align">						
						<p class="maj">
							DES COURS DE LANGUE<br>
							DISPONIBLES 24/7<br> 
							EN UN CLIC
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-5 padding-none">
			<div class="item-approche bg-2-approche">
				<div class="display-table">
					<div class="vertical-align">
						<p class="maj">
							UN CADRE D’APPRENTISAGE<br>
							OPTIMISé EN<br>
							VISIOCONFéRENCE
						</p>								
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 padding-none">
			<div class="item-approche bg-3-approche">
				<div class="display-table">
					<div class="vertical-align">
						<p class="maj">
							DES TUTEURS NATIFS<br>
							ET SYMPATHIQUES
						</p>														
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-5 padding-none">
			<div class="item-approche bg-4-approche">
				<div class="display-table">
					<div class="vertical-align">
						<p class="maj">
							des thématiques<br>
							d’apprentissage<br>
							personnalisées
						</p>							
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>

<section id="become-a-tutor">
	<h2>Become<br>a tutor</h2>

	<div class="overlay-white">
		<p>
			Supplement your income with a fun & rewarding jobs<br class="br">
			Meet interesting people<br class="br">
			Share your experience & culture<br class="br">
			Get max flexibility: Manage your schedule as you desire
		</p>
	</div>

	<div class="text-center">
		<a href="#/registration-tutor" class="btn-speak-izy center-block" title="apply now">apply now</a>
	</div>
</section>

<section id="apprenez">
	<div class="col-xs-6 col-xs-offset-1">
		<h2>
			apprenez<br>
			n’importe ou<br>
			n’importe quand 
		</h2>

		<p>
			Le monde est si vaste!<br>
			Profitez de votre liberté!<br>
			Restez connecté 24h/7 sur tout vos supports où que vous soyez
		</p>

		<ul class="container-logo-device">
			<li>
				<img src="images/logo-desktop.jpg"><br>
				<span>desktop</span>
			</li>
			<li>
				<img src="images/logo-tablette.jpg"><br>
				<span>tablette</span>
			</li>
			<li>
				<img src="images/logo-mobile.jpg"><br>
				<span>mobile</span>
			</li>
		</ul>

		<div class="text-center">
			<a href="#"><img src="images/btn-appstore.jpg"></a>
			<a href="#"><img src="images/btn-google-play.jpg"></a>
		</div>
	</div>

	<div class="col-xs-3 col-xs-offset-1">
		<img src="images/i-phone-6-plus.png" id="iphone6" class="img-responsive center-block" alt="iphone 6 plus">
	</div>			
</section>

<section id="speakizy">
	<h1>ils speakizy</h1>
	<img src="images/speakizy.jpg" class="img-responsive center-block">
</section>