<section id="bg-header-connexion" class="container-fluid">
	<h1>		
		on boarding
	</h1>		
</section>

<section id="on-boarding" class="container-fluid">
	<div id="etape-1" class=" focusEtapes">
		<div class="etape-boarding text-center">
			upload photo
		</div>


	</div>	

	<div id="etape-2" class="">
		<div class="etape-boarding text-center">
			Expérience
		</div>
		<textarea>

		</textarea>
	</div>

	<div id="etape-3" class="">
		<div class="etape-boarding text-center">
			Education Background
		</div>

		<textarea>

		</textarea>
	</div>	

	<div id="etape-4" class="">
		<div class="etape-boarding text-center">
			4
		</div>

		<h2 class="text-center">Quels sont vos intérêts?</h2>

		<div class="row container-bloc-item-choix first-container">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-actu.png" class="img-responsive center-block">
							<p>
								Actualité
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-business.png" class="img-responsive center-block">
							<p>
								business
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-musique.png" class="img-responsive center-block">
							<p>
								Musique
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-sport.png" class="img-responsive center-block">
							<p>
								Sports
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-technologies.png" class="img-responsive center-block">
							<p>
								Technologies
							</p>	
						</div>
					</div>					
				</div>
			</div>
		</div>

		<div class="row container-bloc-item-choix">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-voyages.png" class="img-responsive center-block">
							<p>
								Voyages
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-cinema.png" class="img-responsive center-block">
							<p>
								Cinema
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-histoire.png" class="img-responsive center-block">
							<p>
								Histoire
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-cuisine.png" class="img-responsive center-block">
							<p>
								Cuisine
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-photo.png" class="img-responsive center-block">
							<p>
								Photographie
							</p>	
						</div>
					</div>					
				</div>
			</div>

			
		</div>

		<div class="row container-bloc-item-choix first-container">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-start-ups.png" class="img-responsive center-block">
							<p>
								Start-ups
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-livres.png" class="img-responsive center-block">
							<p>
								Livres
							</p>	
						</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-art.png" class="img-responsive center-block">
							<p>
								Arts et culture
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-societe.png" class="img-responsive center-block">
							<p>
								Société
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-foot.png" class="img-responsive center-block">
							<p>
								Foot
							</p>	
						</div>
					</div>					
				</div>
			</div>			
		</div>
	</div>

	<div id="etape-5" class="">
		<div class="etape-boarding text-center">
			Download a video
		</div>
	</div>

	<i>Ici barre de progression.Chaque étape = 20%</i>

</section>
