<section id="bg-header-connexion" class="container-fluid">
	<h1>		
		on boarding
	</h1>		
</section>

<section id="on-boarding" class="container-fluid">
	<div id="etape-1" class="etapes">
		<div class="etape-boarding text-center">
			1
		</div>

		<h2 class="text-center">Pourquoi avez-vous besoin de progresser en anglais ?</h2>

		<ul class="ul-votre-choix">
			<li class="votre-choix">Dans le cadre de mes études</li>
			<li class="votre-choix">Pour une pratique professionnelle</li>
			<li class="votre-choix">Pour voyager</li>
			<li class="votre-choix">A des fins personnelles</li>
		</ul>
	</div>	

	<div id="etape-2" class="etapes">
		<div class="etape-boarding text-center">
			2
		</div>

		<h2 class="text-center">Quels sont les points que vous souhaitez pratiquer en priorité?</h2>

		<ul class="ul-votre-choix">
			<li class="votre-choix">rononciation</li>
			<li class="votre-choix">Vocabulaire & Expressions</li>
			<li class="votre-choix">Grammaire</li>
			<li class="votre-choix">Gagner en fluidité</li>
		</ul>
	</div>

	<div id="etape-3" class="etapes">
		<div class="etape-boarding text-center">
			3
		</div>

		<h2 class="text-center">Avez-vous des objectifs concrets ?</h2>

		<ul class="ul-votre-choix">
			<li class="votre-choix">Négocier</li>
			<li class="votre-choix">Faire une présentation</li>
			<li class="votre-choix">Faire un conf call</li>
			<li class="votre-choix">Passer un examen</li>
			<li class="votre-choix">Vous préparer à un voyage</li>
			<li class="votre-choix">Gagner en fluidité</li>
		</ul>
	</div>	

	<div id="etape-4" class="etapes">
		<div class="etape-boarding text-center">
			4
		</div>

		<h2 class="text-center">Quels sont vos intérêts?</h2>

		<div class="row container-bloc-item-choix first-container">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-actu.png" class="img-responsive center-block">
							<p>
								Actualité
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-business.png" class="img-responsive center-block">
							<p>
								business
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-musique.png" class="img-responsive center-block">
							<p>
								Musique
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-sport.png" class="img-responsive center-block">
							<p>
								Sports
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-technologies.png" class="img-responsive center-block">
							<p>
								Technologies
							</p>	
						</div>
					</div>					
				</div>
			</div>
		</div>

		<div class="row container-bloc-item-choix">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-voyages.png" class="img-responsive center-block">
							<p>
								Voyages
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-cinema.png" class="img-responsive center-block">
							<p>
								Cinema
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-histoire.png" class="img-responsive center-block">
							<p>
								Histoire
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-cuisine.png" class="img-responsive center-block">
							<p>
								Cuisine
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-photo.png" class="img-responsive center-block">
							<p>
								Photographie
							</p>	
						</div>
					</div>					
				</div>
			</div>

			
		</div>

		<div class="row container-bloc-item-choix first-container">
			<div class="col-xs-2 col-xs-offset-1">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-start-ups.png" class="img-responsive center-block">
							<p>
								Start-ups
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-livres.png" class="img-responsive center-block">
							<p>
								Livres
							</p>	
						</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-art.png" class="img-responsive center-block">
							<p>
								Arts et culture
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-societe.png" class="img-responsive center-block">
							<p>
								Société
							</p>	
						</div>
					</div>					
				</div>
			</div>

			<div class="col-xs-2">
				<div class="bloc-item-choix center-block">
					<div class="display-table">
						<div class="vertical-align">
							<img src="images/item-foot.png" class="img-responsive center-block">
							<p>
								Foot
							</p>	
						</div>
					</div>					
				</div>
			</div>			
		</div>
	</div>

	<ul>
		<li class="select-etape focus-etape" ng-click="etapes()"></li>
		<li class="select-etape focusEtape" ng-click="etapes()"></li>
		<li class="select-etape" ng-click="etapes()"></li>
		<li class="select-etape" ng-click="etapes()"></li>
		<li class="select-etape" ng-click="etapes()"></li>
	</ul>

</section>
