<section id="pratique" class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<ul id="menu-chat">
				<li>
					<a href="#">
						<img src="images/logo-profil-user.png"><br>
						<p>profil user</p>
					</a>
				</li>
				<li>
					<a href="">
						<img src="images/logo-mise-en-situation.png"><br>
						<p>mise en situation</p>
					</a>
				</li>
				<li>
					<a href="">
						<img src="images/logo-interets.png"><br>
						<p>interets topics</p>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-10">
			<video id="video-chat"  controls="controls">
				<source src="video/Run_Color_h264_v3.mp4" type="video/mp4" />
			</video>

			<div id="tchat">
				<label>Tchat</label>
				<div id="conversation">
					
				</div>
				<textarea></textarea>
				<input id="btn-send-tchat" type="submit" value="Send">
			</div>
		</div>
	</div>		
</section>