<section id="bg-header-connexion" class="container-fluid">
	<h1>		
		SIGN IN
	</h1>		
</section>

<section id="connexion" class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<form>
				<div class="container-input-compte">
					<label for="userName">Nom d’utilisateur</label><br>
					<input type="text" id="userName" class="input-compte">					
				</div>

				<div class="container-input-compte">
					<label for="emailAdress">Adresse e-mail</label><br>
					<input type="text" id="emailAdress" class="input-compte">
				</div>

				<div class="container-input-compte">
					<label for="password">Mot de passe</label><br>
					<input type="text" id="password" class="input-compte">
				</div>

				<div class="container-input-compte">
					<label for="confirmPassword">Confirmer votre mot de passe</label><br>
					<input type="text" id="confirmPassword" class="input-compte">
				</div>

				<div class="container-input-compte text-center">					
					<a href="#/on-boarding" class="btn-speak-izy">creer un compte</a>
				</div>
			</form>
		</div>
	</div>
</section>