<section id="bg-header-connexion" class="container-fluid">
	<h1>		
		SIGN IN
	</h1>		
</section>

<section id="registration-tutor" class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<p>
				Filling in your profile is key as it will be your business card towards students.
				A profile 100% well completed has more chances to be identified by our student
				than a profile not properly filled.
			</p>

			<p>
				We then advise you to pay attention to this part.
				Filling your profile is easy going and should take you around 15 minutes.
				Please note that you will always have the possibility to modify it.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<form>
				<div class="container-input-compte">
					<label for="firstName">First Name</label><br>
					<input type="text" id="firstName" class="input-compte"/>
				</div>

				<div class="container-input-compte">
					<label for="familyName">Family name</label><br>
					<input type="text" id="familyName" class="input-compte"/>
				</div>

				<div class="container-input-compte">
					<label for="userName">UserName</label><br>
					<input type="text" id="userName" class="input-compte"/>
				</div>

				<div class="container-input-compte">
					<label for="userEmail">Email adress</label><br>
					<input type="text" id="userEmail" class="input-compte"/>
				</div>

				<!-- A Ajouter
				date of birth JJ/MM/YYYY
				Country
				Time-Zone
				-->


				<div class="container-input-compte text-center">					
					<a href="#/on-boarding-tutor" class="btn-speak-izy">I start complete my profile</a>
				</div>
			</form>
		</div>
	</div>
</section>