<section id="bg-header-tarifs" class="container-fluid">
	<h1>
		MY RESERVATIONS
	</h1>		
</section>

<section id="reservations">
	<h2 class="text-center">
		WEEKLY AVAILABILITY
	</h2>

	<p class="text-center">
		n order to allow students to book sessions  in advance, please select slots on which you will be available. <br>
		Slots you can select are 1 hour. <br>
		Students can book a minimumof 15 minutes and a maximum of 2 hours. <br>
		Times will be automatically converted between your time zone and the students.
	</p>	

	<div class="text-center">
		<a href="#" class="btn-speak-izy">WEEKLY AVAILABILITY</a>
	</div>	
</section>