<section id="bg-header-tarifs" class="container-fluid">
	<h1>
		tarifs
	</h1>		
</section>

<section id="tarifs" class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<h2 class="text-center">Combien de minutes par jour voulez-vous pratiquer?</h2>

			<div class="bloc-tarifs">
				<ul>
					<li><a href="#">15</a></li>
					<li><a href="#">30</a></li>
					<li><a href="#">60</a></li>
					<li><a href="#">120</a></li>
				</ul>

				<p class="text-center">
					Pratique de conversation basique pour les étudiants<br>
					qui veulent s'améliorer
				</p>
			</div>
		</div>

		<div class="col-xs-6">
			<h2 class="text-center">Combien de fois par semaine?</h2>	

			<div class="bloc-tarifs">
				<ul>
					<li><a href="#">3</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">7</a></li>					
				</ul>

				<p class="text-center">
					86,00 $US par mois<br>
					8,60 $US/heure
				</p>
			</div>
		</div>
	</div>

	<div class="text-center">
		<a href="#" class="btn-speak-izy">s'inscrire</a>
	</div>	
</section>