

<section id="bg-header-notre-approche" class="container-fluid">
	<h1>
		qui sommes nous
	</h1>		
</section>

<section id="qui-sommes-nous" class="container-fluid">
	<h2>notre equipe</h2>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
	</p>

	<p>
		Abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea co modo consequat. 
	</p>

	<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident r in reprehenderit in voluptate e cillum dolore eu u fugiat nulla pa
	</p>	

	<ul>
		<li>
			<div class="photo-equipe"></div>
		</li>
		<li></li>
		<li></li>
	</ul>
</section>