

<section id="bg-header-notre-approche" class="container-fluid">
	<h1>
		qui sommes nous
	</h1>		
</section>

<section id="qui-sommes-nous" class="container-fluid">
	<h2>notre equipe</h2>

	<div>
		<div class="inline-block relative">		
			<img id="gh" src="images/guillemets-haut.png">	
			<p class="text-left">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
			</p>

			<p class="text-left">
				Abore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br>ea co modo consequat. 
			</p>

			<p class="text-left">
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint oc<br>caecat cupidatat non proident r in reprehenderit in voluptate e cillum dolore eu u fugiat nulla pa
			</p>	
			<img id="gb" src="images/guillemets-bas.png">
		</div>
	</div>

	<ul id="container-equipe">
		<li>
			<div class="photo-equipe"></div>
			<p>
				Elisée<br>
				Développeur
			</p>			
		</li>
		<li>
			<div class="photo-equipe"></div>
			<p>
				Marvin Master<br>
				Développeur
			</p>						
		</li>
		<li>
			<div class="photo-equipe"></div>
			<p>
				Elisée<br>
				Développeur
			</p>						
		</li>
	</ul>

	<div>
		<a href="" class="btn-speak-izy">NOUS REJOINDRE?</a>
	</div>		
</section>