/***************** GLOBAL *****************/

body {
	font-family: 'Open Sans', sans-serif;
}

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}

.blue {
	color: #2ea1c2;
}

.inline-block {
	display: inline-block;
}

.padding-none {
	padding: 0;
}

.maj {
	text-transform: uppercase;
}

.full-width {
	width: 100%;
}

.btn-speak-izy {
	padding-left: 50px;
	padding-right: 50px;
	text-transform: uppercase;
	color: #fff;
	border: solid 1px #fff;
	font-size: 14px;
	height: 49px;
	display: inline-block;
	line-height: 49px;
}

.btn-speak-izy:hover {
	color: #fff;
}

/***************** HEADER *****************/

header {
	width: 100%;
	padding-top: 20px;	
	position: absolute;
	left: 0;
	top: 0;
}

#container-logo, #menu {
	display: inline-block;
	vertical-align: top;
}

#menu {
	float: right;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu ul {
	display: inline-block;
}

#menu ul li {
	display: inline-block;
	margin-right: 25px;
}

#menu ul li:last-child {
	display: inline-block;
	margin-right: 0;
}

#menu #compte-menu {
	margin-left: 40px;
}

#menu #compte-menu li{
	margin: 0;
}

#menu #compte-menu li:first-child {
	height: 20px;
	padding-right: 5px;
	border-right: 1px solid #2ea1c2;
}

#menu #compte-menu li:last-child {
	height: 20px;
	padding-left: 5px;
}

#menu #compte-menu li a {
	color: #2ea1c2;
	font-size: 12px;
}

#menu #ul-menu li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
}

/*************************** HOME ****************************/

#bg-header-home {
	background-image: url('../images/bg-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 798px;
}

#bg-header-home h1 {
	color: #fff;
	font-size: 71px;
	text-transform: uppercase;
	margin: 0;
}

#bg-header-home .btn-speak-izy {
	margin-top: 100px;
}

/*************************** BECOME A TUTOR ****************************/

#become-a-tutor {
	height: 692px;
	width: 100%;
	background-image: url(../images/bg-become-a-tutor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#become-a-tutor h2 {
	font-size: 66px;
	color: #fff;
	text-align: center;
	padding-top: 35px;
	margin-top: 0;
	margin-bottom: 25px;
}

.overlay-white {
	width: 100%;
	padding-top: 45px;
	padding-bottom: 65px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
}

.overlay-white p {
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}

#become-a-tutor .btn-speak-izy {
	margin-top: 45px;
}

/*************************** APPRENEZ N'IMPORTE OU ****************************/

#apprenez {
	width: 100%;
	height: 790px;
	background-image: url(../images/bg-apprenez.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#apprenez h2 {
	font-size: 42px;
	color: #fff;
	padding-top: 110px;
	margin-top: 0;
	margin-bottom: 35px;
	text-transform: uppercase;
}

#apprenez p {
	font-size: 14px;
	color: #fff;
}

#iphone6 {
	margin-top: 233px;
}

.container-logo-device {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 20px;
}

.container-logo-device li {
	display: inline-block;
	margin-right: 55px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.container-logo-device li span {
	display: block;
	margin-top: 10px;
}

/******************************* SPEAKIZY *****************************/

#speakizy h1 {
	padding-top: 116px;
	margin-top: 0;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #0d264b;
}


/************************** FOOTER *************************/

footer {
	height: 140px;
	background-color: #0d264b;
}

#menu-footer {
	margin-top: 62px;
}

#menu-footer li {
	display: inline-block;
	margin-right: 60px
}

#menu-footer li:last-child {
	margin-right: 0;
}

#menu-footer li a {
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}

#logo-footer {
	margin-top: 28px;
}

#ul-sociaux {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 57px;
}

#ul-sociaux li {
	display: inline-block;
	margin-right: 10px;
}

#ul-sociaux li:last-child {
	margin-right: 0;
}

/****************************** NOTRE APPROCHE ********************************/

.item-approche {
	width: 100%;
	height: 220px;
	text-align: center;
}

.item-approche h2{
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
}

.item-approche p {
	font-size: 13px;
	color: #fff;
}

.bg-1-approche {
	background-image: url(../images/bg-notre-approche-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-2-approche {
	background-image: url(../images/bg-notre-approche-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-3-approche {
	background-image: url(../images/bg-notre-approche-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-4-approche {
	background-image: url(../images/bg-notre-approche-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#menu-approche {
	padding-top: 45px;
	padding-bottom: 45px;
}

#menu-approche .btn-speak-izy {
	height: 27px;
	line-height: 27px;
}

#bg-header-notre-approche {
	background-image: url('../images/bg-header-notre-approche.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 280px;	
}

#bg-header-notre-approche h1{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	font-size: 48px;
	font-weight: 600;
}

/****************************** CONNEXION ********************************/

#bg-header-connexion {
	background-image: url('../images/bg-header-connexion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 280px;	
}

#bg-header-connexion h1{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	font-size: 48px;
	font-weight: 600;
}

#connexion {
	padding-top: 62px;
	padding-bottom: 100px;
}

.container-input-compte {
	margin-bottom: 34px;
}

.input-compte {
	width: 100%;
	height: 28px;	
	border: solid 1px #cdcdcd;
	border-radius: 4px;
}

label {
	color: #000;
	font-weight: normal;
}

#connexion .btn-speak-izy {
	color: #0d264b;
	border-color: #0d264b;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
}

/****************************** TARIFS ********************************/

#bg-header-tarifs {
	background-image: url('../images/bg-header-tarifs.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 280px;	
}

#bg-header-tarifs h1{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	font-size: 48px;
	font-weight: 600;
}

#tarifs {
	margin-top: 120px;
}

#tarifs h2 {
	color: #0d264b;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
}

#tarifs .bloc-tarifs {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #0d264b;
	color: #fff;
	min-height: 145px;
}

#tarifs ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

#tarifs li {
	display: inline-block;
	margin-right: 55px;
}

#tarifs li:last-child {
	margin-right: 0;
}

#tarifs li a {
	display: block;
	color: #fff;
	font-size: 24px;	
	padding-right: 6px;
	padding-left: 6px;
	border: solid 1px #0d264b;
}

#tarifs li a:hover {
	border: solid 1px #2ea1c2;
	color: #2ea1c2;
	text-decoration: none;
}

.bloc-tarifs p {
	font-size: 12px;
	margin-top: 20px;
}

#tarifs .btn-speak-izy {
	color: #0d264b;
	border-color: #0d264b;
	margin-top: 60px;
	margin-bottom: 120px;
}

/****************************** ON BOARDING ********************************/

#on-boarding {
	margin-top: 100px;
}

#on-boarding .etape-boarding {
	font-size: 80px;
	color: #2ea1c2;
	font-weight: 600;
	width: 314px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-image: url(../images/border-bottom.png) 0 0 1 0; /* Safari 3.1-5 */
    -o-border-image: url(../images/border-bottom.png) 0 0 1 0; /* Opera 11-12.1 */
    border-image: url(../images/border-bottom.png) 0 0 1 0;
}

#on-boarding h2 {
	font-size: 20px;
	color: #0d264b;
	margin-top: 45px;
}

#on-boarding ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.votre-choix {
	display: inline-block;
	margin-right: 90px;
	font-size: 13.5px;	
	color: #0d264b;
	cursor: pointer;
	padding-right: 6px;
	padding-left: 6px;
	border: solid 1px #fff;	
	margin-bottom: 40px;
}

.votre-choix:hover {
	border: solid 1px #2ea1c2;
	color: #2ea1c2;
}

.votre-choix:last-child {
	margin-right: 0;
}

.select-etape {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: solid 1px #2ea1c2;
	display: inline-block;
	margin-right: 27px;
	margin-bottom: 60px;
	cursor: pointer;
}

.ul-votre-choix {
	margin-top: 74px !important;
	margin-bottom: 129px !important;
}

.focus-etape {
	background-color: #2ea1c2;
}

.select-etape:last-child {
	margin-right: 0
}

.bloc-item-choix {
	width: 125px;
	height: 121px;
	border: solid 1px #fff;
	text-align: center;
	font-size: 13px;
	color: #0d264b;
}

.container-bloc-item-choix {
	margin-bottom: 70px;
}

.first-container {
	margin-top: 50px;
}

.bloc-item-choix p {
	margin-top: 20px;
	margin-bottom: 0;
}

.bloc-item-choix:hover {	
	border: solid 1px #2ea1c2;
	color: #2ea1c2;
}

.etapes {
	display: none;
}

#etape-1 {
	display: block;
}

.focusEtapes {
	display: block !important;
}

/****************************** RESERVATIONS ********************************/

#reservations {
	margin-top: 55px;
	margin-bottom: 72px;
}

.cadre-photo {
	position: relative;
	margin-bottom: 10px;
}

.cadre-photo img{
	border: solid 2px #6d6d6d;
}

#reservations h2 {
	font-size: 24px;
	color: #092156;
	margin-bottom: 25px;
	margin-top: 0;
}

#reservations p {
	color: #092156;
	font-size: 14px;
	margin-bottom: 70px;
}

.infos-picture {
	width: 100%;
	height: 43px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	padding-left: 9px;
	font-size: 12px;
	color: #fff;
}

#reservations .btn-speak-izy {
	color: #092156;
	border-color: #092156;
}

/****************************** DASHBOARD ********************************/

#bg-dashboard {
	background-image: url('../images/bg-dashboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 672px;		
}

.bloc-minutes {
	margin-top: 275px;
	color: #fff;
}

.minutes {
	font-size: 130px;
	color: #2ea1c2;
	font-weight: 600;
	line-height: 110px;
}

#bg-dashboard .btn-speak-izy {
	margin-top: 65px;
}

#dashboard {
	margin-top: 58px;
	margin-bottom: 125px;
}

.en-ligne img{
	border-color: #34ad65;
}

.occupe img {
	border-color: #ec4e1b;
}

.hl img {
	border-color: #8a002b;
}
.bloc-tuteurs {
	margin-bottom: 62px;
}

#dashboard h1 {
	font-size: 46px;
	color: #0d264b;
	font-weight: 800;
	margin: 0;
	text-align: center;
}

#dashboard h2 {
	font-size: 30px;
	color: #0d264b;
	margin-top: 38px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 42px;
	text-transform: uppercase;
}